1200	0	Cresciuto	VER:pper	crescere	Attività	O
1200	1	nel	PRE:det	nel	Attività	O
1200	2	Como	NPR	Como	Attività	Squadra
1200	3	dove	PRO:rela	dove	Attività	O
1200	4	esordisce	VER:pres	esordire	Attività	LU
1200	5	in	PRE	in	Attività	O
1200	6	Serie C1	ENT	Serie C1	Attività	Competizione
1200	7	a	PRE	a	Attività	O
1200	8	17	NUM	@card@	Attività	O
1200	9	anni	NOM	anno	Attività	O
1200	10	nella	PRE:det	nel	Attività	O
1200	11	stagione	NOM	stagione	Attività	O
1200	12	1999-2000	NUM	@card@	Attività	O
1200	13	.	SENT	.	Attività	O
344	0	Dal	PRE:det	dal	Attività	O
344	1	gennaio	NOM	gennaio	Attività	O
344	2	2010	NUM	@card@	Attività	O
344	3	gioca	VER:pres	giocare	Attività	LU
344	4	con	PRE	con	Attività	O
344	5	il	DET:def	il	Attività	O
344	6	Legnano	NOM	Legnano	Attività	Squadra
344	7	in	PRE	in	Attività	O
344	8	Lega Pro Seconda Divisione	ENT	Lega Pro Seconda Divisione	Attività	Competizione
344	9	.	SENT	.	Attività	O
345	0	Con	PRE	con	Trofeo	O
345	1	lui	PRO:pers	lui	Trofeo	O
345	2	gli	DET:def	il	Trofeo	O
345	3	olandesi	NOM	olandese	Trofeo	O
345	4	hanno	VER:pres	avere	Trofeo	O
345	5	vinto	VER:pper	vincere	Trofeo	LU
345	6	tre	ADJ	tre	Trofeo	O
345	7	Eredivisie	NOM	Eredivisie	Trofeo	Competizione
345	8	e	CON	e	Trofeo	O
345	9	una	DET:indef	una	Trofeo	O
345	10	Coppa	NOM	coppa	Trofeo	O
345	11	d'	PRE	d'	Trofeo	O
345	12	Olanda	NPR	Olanda	Trofeo	O
345	13	.	SENT	.	Trofeo	O
346	0	Neanche	ADV	neanche	Trofeo	O
346	1	nel	PRE:det	nel	Trofeo	O
346	2	2010-2011	NUM	@card@	Trofeo	O
346	3	è	VER:pres	essere	Trofeo	O
346	4	riuscito	VER:pper	riuscire	Trofeo	O
346	5	con	PRE	con	Trofeo	O
346	6	la	DET:def	il	Trofeo	O
346	7	stessa	ADJ	stesso	Trofeo	O
346	8	società	NOM	società	Trofeo	O
346	9	a	PRE	a	Trofeo	O
346	10	vincere	VER:infi	vincere	Trofeo	LU
346	11	il	DET:def	il	Trofeo	O
346	12	Campionato Giovanissimi	ENT	Campionato Giovanissimi	Trofeo	Competizione
346	13	di	PRE	di	Trofeo	O
346	14	Pescara	NPR	Pescara	Trofeo	Luogo
346	15	.	SENT	.	Trofeo	O
347	0	Debuttò	VER:remo	debuttare	Sconfitta	O
347	1	in	PRE	in	Sconfitta	O
347	2	Prima Categoria	ENT	Prima Categoria	Sconfitta	Competizione
347	3	con	PRE	con	Sconfitta	O
347	4	la	DET:def	il	Sconfitta	O
347	5	maglia	NOM	maglia	Sconfitta	O
347	6	dello	PRE:det	del	Sconfitta	O
347	7	Spezia	NPR	Spezia	Sconfitta	Perdente
347	8	il	DET:def	il	Sconfitta	O
347	9	31	NUM	@card@	Sconfitta	O
347	10	ottobre	NOM	ottobre	Sconfitta	O
347	11	1920	NUM	@card@	Sconfitta	O
347	12	nella	PRE:det	nel	Sconfitta	O
347	13	gara	NOM	gara	Sconfitta	O
347	14	persa	VER:pper	perdere	Sconfitta	LU
347	15	per	PRE	per	Sconfitta	O
347	16	1-0	NUM	@card@	Sconfitta	O
347	17	sul	PRE:det	sul	Sconfitta	O
347	18	campo	NOM	campo	Sconfitta	O
347	19	del	PRE:det	del	Sconfitta	O
347	20	Savona	NPR	Savona	Sconfitta	Vincitore
347	21	.	SENT	.	Sconfitta	O
340	0	Il	DET:def	il	Sconfitta	O
340	1	30	NUM	@card@	Sconfitta	O
340	2	maggio	NOM	maggio	Sconfitta	O
340	3	2014	NUM	@card@	Sconfitta	O
340	4	ha	VER:pres	avere	Sconfitta	O
340	5	esordito	VER:pper	esordire	Sconfitta	O
340	6	con	PRE	con	Sconfitta	O
340	7	la	DET:def	il	Sconfitta	O
340	8	Nazionale maggiore	ENT	Nazionale maggiore	Sconfitta	Perdente
340	9	nell'	PRE:det	nel	Sconfitta	O
340	10	amichevole	NOM	amichevole	Sconfitta	O
340	11	persa	VER:pper	perdere	Sconfitta	LU
340	12	per	PRE	per	Sconfitta	O
340	13	1-0	NUM	@card@	Sconfitta	O
340	14	contro	PRE	contro	Sconfitta	O
340	15	l'	DET:def	il	Sconfitta	O
340	16	Uruguay	NPR	Uruguay	Sconfitta	Vincitore
340	17	.	SENT	.	Sconfitta	O
341	0	Ha	VER:pres	avere	Trofeo	O
341	1	iniziato	VER:pper	iniziare	Trofeo	O
341	2	a	PRE	a	Trofeo	O
341	3	giocare	VER:infi	giocare	Trofeo	O
341	4	in	PRE	in	Trofeo	O
341	5	Camerun	NPR	Camerun	Trofeo	Luogo
