Ha giocato nella massima serie del campionato honduregno con la Real España.
Nel 1934 si trasferì all'Ambrosiana, dove giocò 4 incontri nell'unica stagione in nerazzurro.
Nel 1963 passa al Saronno, giocando per un altro anno in Serie C.
Ha giocato nella massima serie cipriota con l'APOEL Nicosia.
Nella stagione 1925-1926 gioca nella Giovane Piemonte Torino.
Ha giocato la sua unica partita in Nazionale nel 2000.
Nell'annata 2012-2013 ha giocato complessivamente 27 partite, andando in gol in 5 occasioni.
Ha giocato in patria principalmente con il Maccabi Haifa.
In patria gioca tra le file del Don Bosco Football Club.
In carriera ha giocato complessivamente 74 partite in Serie B, con 21 gol segnati.
Complessivamente gioca 206 partite da professionista, con 55 goal.
Nella stagione 2012-2013 ha giocato 17 partite nel campionato belga con il Beerschot.
Ha giocato nella massima serie cipriota con Apollon Limassol e AEL Limassol.
In Nazionale ha giocato 3 partite, nel 1967.
Thépot giocò per il Brest, FEC Levallois, Red Star FC, e l'USL Dunkerque.
Ha giocato sia con la Nazionale greca che successivamente con quella cipriota.
Ha esordito con la Nazionale cipriota nel 1982, giocando 6 partite fino al 1991.
Dopo aver giocato nei principali campionati europei, si trasferisce all'Académica nel 2010.
Ha giocato nella massima serie ungherese con MTK Budapest e Haladás.
Ha giocato nella massima serie portoghese con la maglia del Varzim.
Ha sempre giocato in squadre inglesi
Il 22 luglio 2012 torna in Argentina per giocare nelle file del Boca Juniors.
Ha giocato 7 partite per la Nazionale cipriota tra il 1999 e il 2004.
La stagione successiva va al Manfredonia, giocando titolare per tutta la stagione.
Nella stagione 2011-2012 ha giocato 32 partite in Ligue 1 con il Digione.
Dal 1932 a 1934 gioca 4 partite in Serie A con il Padova.
Ha giocato nella massima serie cipriota con varie squadre.
Ha sempre giocato nel campionato mozambicano.
Con la Nazionale Under-21 ha giocato una partita di qualificazione agli Europei di categoria.
Ha sempre giocato nel campionato botswano.
Ha sempre giocato nel campionato libico.
Ha giocato in Ligue 1 con Boulogne e Digione.
Nella stagione 2011-2012 ha giocato 20 partite in Ligue 1 con l'Ajaccio.
Ha esordito con la Nazionale cipriota nel 1991, giocando 41 partite fino al 1997.
Centrocampista centrale, giocò, tra le altre, per il Milan e il Venezia.
Nella stagione 2001-02 giocò con il Gravina Calcio in Serie A.
Kristoffersen giocò con la maglia dell'Odd.
Ha giocato nella massima serie cipriota con l'Ethnikos Achnas per diversi anni.
Nella stagione 2013-2014 ha giocato 23 partite nella massima serie uruguaiana con il Danubio.
Dopo l'esperienza torinese gioca un anno con la Fiorentina, suo ultimo club professionistico.
Nella stagione 1922-1923 gioca in Prima Divisione con l'Alessandria con 12 presenze.
Ha giocato nella massima serie del campionato australiano con il Brisbane Roar.
Dopo aver giocato due stagioni nel Widzew Łódź, nel 2013 si trasferisce al Norimberga.
Nella stagione 2005-2006 gioca 2 partite in Coppa UEFA con il Marsiglia.
Con la Nazionale messicana ha preso parte ai Mondiali 1966, giocando 3 partite.
Ha giocato nella massima serie di Nigeria, Malta e Bulgaria.
Con la Nazionale del suo paese, ha giocato la Coppa d'Africa 2010.
Ha giocato con la sua Nazionale nella Coppa d'Africa del 2013.
Ha giocato nella massima serie dei campionati uruguaiano e argentino.
Ha giocato 7 partite (segnando un gol) nella Nazionale Under 21 della Germania Ovest.
Nella stagione 2011-2012 ha giocato 16 partite in Ligue 1 con il Digione.
Ha giocato in massima serie con le maglie di Nantes e Troyes.
Con gli "SCO" giocò per sei stagioni.
Ha giocato nella massima serie dei campionati russo, turco, azero e finlandese.
Johannessen giocò per il Frigg.
Ha giocato 20 volte per la nazionale slovena, segnando un gol.
Con il "Grifone" giocò sino al 1926, anno del suo ritiro dall'attività agonistica.
Ha giocato nella massima serie cipriota e greca.
Con la Nazionale Under-21 ha giocato 7 partite di qualificazione agli Europei di categoria.
Ha sempre giocato nel campionato cubano.
In totale ha giocato 136 partite (con 5 reti) in Serie B.
Prima del ritiro definitivo giocò uno scampolo di stagione come giocatore/allenatore nel Baracca Lugo.
Ha giocato 4 partite per la Nazionale cipriota tra il 1976 e il 1979
Con la Nazionale Under-21 ha giocato sia amichevoli che partite di qualificazione agli Europei.
Ha giocato tredici stagioni nella massima serie cipriota con l'Apollon Limassol.
Con la Portuguesa ha giocato in Série A e nella Copa Sudamericana.
Ha giocato nella massima serie cipriota con varie squadre.
Nel 1960 passa al Livorno giocando per un altro anno in Serie C.
Ha giocato per quattro anni nella massima serie scozzese con il Dundee.
Dal 2005 al 2007 gioca in Spagna nell'Azkar Lugo Fútbol Sala.
Sempre durante il periodo del college, Stephens giocò due anni col Chicago Fire Premier.
È il primo calciatore nordcoreano a giocare in Corea del Sud.
Il figlio Alessandro gioca nelle giovanili del Milan.
Ha giocato nella massima serie dei campionati islandese e svedese.
Nel 2008, fu reso noto che avrebbe giocato sporadicamente per lo Skedsmo.
Eriksen giocò con la maglia dell'Odd.
Ha giocato in massima serie anche con le maglie di ACIVI Vicenza e Triestina.
Ha giocato in tutte le Nazionali giovanili italiane, dalla Under-16 alla Under-21.
Ha giocato nella massima serie cipriota con APOEL Nicosia ed Ethnikos Achnas.
Dopo aver giocato nella Dinamo Kiev, nel 2008 si trasferisce all'Amkar Perm'.
