24	0	In	PRE	in	Fare_gol	O
24	1	totale	NOM	totale	Fare_gol	O
24	2	in	PRE	in	Fare_gol	O
24	3	carriera	NOM	carriera	Fare_gol	O
24	4	disputò	VER:remo	disputare	Fare_gol	O
24	5	con	PRE	con	Fare_gol	O
24	6	il	DET:def	il	Fare_gol	O
24	7	Pisa	NPR	Pisa	Fare_gol	O
24	8	34	NUM	@card@	Fare_gol	O
24	9	partite	VER:pper	partire	Fare_gol	O
24	10	segnando	VER:geru	segnare	Fare_gol	B-LU
24	11	10	NUM	@card@	Fare_gol	B-Quantita_Fare_gol
24	12	reti	NOM	rete	Fare_gol	I-Quantita_Fare_gol
24	13	.	SENT	.	Fare_gol	O
26	0	(	PON	(	Fare_gol	O
26	1	vinta	NOM	vinto	Fare_gol	B-Quantita_Fare_gol
26	2	1-0	NUM	@card@	Fare_gol	I-Quantita_Fare_gol
26	3	)	PON	)	Fare_gol	O
26	4	,	PON	,	Fare_gol	O
26	5	segna	VER:pres	segnare	Fare_gol	B-LU
26	6	il	DET:def	il	Fare_gol	O
26	7	suo	PRO:poss	suo	Fare_gol	O
26	8	primo	ADJ	primo	Fare_gol	O
26	9	goal	NOM	goal	Fare_gol	O
26	10	in	PRE	in	Fare_gol	O
26	11	serie	NOM	serie	Fare_gol	B-Competizione_Fare_gol
26	12	A.	NPR	A.	Fare_gol	I-Competizione_Fare_gol
27	0	Ha	VER:pres	avere	Fare_gol	O
27	1	giocato	VER:pper	giocare	Fare_gol	O
27	2	10	NUM	@card@	Fare_gol	O
27	3	partite	VER:pres	partire	Fare_gol	O
27	4	segnando	VER:geru	segnare	Fare_gol	B-LU
27	5	5	NUM	@card@	Fare_gol	B-Quantita_Fare_gol
27	6	gol	NOM	gol	Fare_gol	I-Quantita_Fare_gol
27	7	con	PRE	con	Fare_gol	O
27	8	la	DET:def	il	Fare_gol	O
27	9	Nazionale	NOM	nazionale	Fare_gol	O
27	10	di	PRE	di	Fare_gol	O
27	11	calcio	NOM	calcio	Fare_gol	O
27	12	di	PRE	di	Fare_gol	O
27	13	Vanuatu	NOM	<unknown>	Fare_gol	O
27	14	.	SENT	.	Fare_gol	O
21	0	L'	DET:def	il	Fare_gol	O
21	1	anno	NOM	anno	Fare_gol	O
21	2	successivo	ADJ	successivo	Fare_gol	O
21	3	,	PON	,	Fare_gol	O
21	4	nel	PRE:det	nel	Fare_gol	O
21	5	massimo	ADJ	massimo	Fare_gol	B-Competizione_Fare_gol
21	6	campionato	NOM	campionato	Fare_gol	I-Competizione_Fare_gol
21	7	,	PON	,	Fare_gol	O
21	8	segna	VER:pres	segnare	Fare_gol	B-LU
21	9	tre	ADJ	tre	Fare_gol	B-Quantita_Fare_gol
21	10	gol	NOM	gol	Fare_gol	I-Quantita_Fare_gol
21	11	.	SENT	.	Fare_gol	O
22	0	Esordisce	VER:pres	esordire	Attivita	O
22	1	in	PRE	in	Attivita	O
22	2	Bundesliga	NOM	<unknown>	Attivita	B-Competizione_Attivita
22	3	nella	PRE:det	nel	Attivita	O
22	4	stagione	NOM	stagione	Attivita	O
22	5	2012-2013	NUM	@card@	Attivita	O
22	6	,	PON	,	Attivita	O
22	7	nella	PRE:det	nel	Attivita	O
22	8	quale	PRO:rela	quale	Attivita	O
22	9	gioca	VER:pres	giocare	Attivita	B-LU
22	10	8	NUM	@card@	Attivita	O
22	11	partite	NOM	partita	Attivita	O
22	12	senza	PRE	senza	Attivita	O
22	13	mai	ADV	mai	Attivita	O
22	14	segnare	VER:infi	segnare	Attivita	O
22	15	.	SENT	.	Attivita	O
23	0	Ha	VER:pres	avere	Fare_gol	O
23	1	giocato	VER:pper	giocare	Fare_gol	O
23	2	complessivamente	ADV	complessivamente	Fare_gol	O
23	3	92	NUM	@card@	Fare_gol	O
23	4	partite	NOM	partita	Fare_gol	O
23	5	in	PRE	in	Fare_gol	O
23	6	Serie	NOM	serie	Fare_gol	B-Competizione_Fare_gol
23	7	A	NOM	<unknown>	Fare_gol	I-Competizione_Fare_gol
23	8	segnando	VER:geru	segnare	Fare_gol	B-LU
23	9	4	NUM	@card@	Fare_gol	B-Quantita_Fare_gol
23	10	reti	NOM	rete	Fare_gol	I-Quantita_Fare_gol
23	11	.	SENT	.	Fare_gol	O
28	0	Vestì	VER:remo	vestire	Fare_gol	O
28	1	la	DET:def	il	Fare_gol	O
28	2	maglia	NOM	maglia	Fare_gol	O
28	3	della	PRE:det	del	Fare_gol	O
28	4	Nuova	NOM	nuova	Fare_gol	O
28	5	Zelanda	NPR	Zelanda	Fare_gol	O
28	6	in	PRE	in	Fare_gol	O
28	7	quarantadue	ADJ	<unknown>	Fare_gol	O
28	8	occasioni	NOM	occasione	Fare_gol	O
28	9	segnando	VER:geru	segnare	Fare_gol	B-LU
28	10	quattordici	ADJ	quattordici	Fare_gol	B-Quantita_Fare_gol
28	11	reti	NOM	rete	Fare_gol	I-Quantita_Fare_gol
28	12	.	SENT	.	Fare_gol	O
29	0	Ha	VER:pres	avere	Fare_gol	O
29	1	disputato	VER:pper	disputare	Fare_gol	O
29	2	62	NUM	@card@	Fare_gol	O
29	3	gare	NOM	gara	Fare_gol	O
29	4	segnando	VER:geru	segnare	Fare_gol	B-LU
29	5	6	NUM	@card@	Fare_gol	B-Quantita_Fare_gol
29	6	reti	NOM	rete	Fare_gol	I-Quantita_Fare_gol
29	7	in	PRE	in	Fare_gol	O
29	8	Nazionale	NOM	nazionale	Fare_gol	O
29	9	dal	PRE:det	dal	Fare_gol	O
29	10	1986	NUM	@card@	Fare_gol	O
29	11	al	PRE:det	al	Fare_gol	O
29	12	1991	NUM	@card@	Fare_gol	O
29	13	.	SENT	.	Fare_gol	O
1	0	Nel	PRE:det	nel	Vittoria	O
1	1	1959	NUM	@card@	Vittoria	O
1	2	vince	VER:pres	vincere	Vittoria	B-LU
1	3	la	DET:def	il	Vittoria	B-Competizione_Vittoria
1	4	Coppa	NOM	coppa	Vittoria	I-Competizione_Vittoria
1	5	Mitropa	NOM	<unknown>	Vittoria	I-Competizione_Vittoria
1	6	con	PRE	con	Vittoria	O
1	7	l'	DET:def	il	Vittoria	O
1	8	Honvéd	NOM	<unknown>	Vittoria	O
1	9	.	SENT	.	Vittoria	O
0	0	Con	PRE	con	Vittoria	O
0	1	l'	DET:def	il	Vittoria	O
0	2	Club	NOM	club	Vittoria	O
0	3	América	NOM	<unknown>	Vittoria	O
0	4	ha	VER:pres	avere	Vittoria	O
0	5	vinto	VER:pper	vincere	Vittoria	B-LU
0	6	il	DET:def	il	Vittoria	B-Competizione_Vittoria
0	7	campionato	NOM	campionato	Vittoria	I-Competizione_Vittoria
0	8	1987-1988	NUM	@card@	Vittoria	I-Competizione_Vittoria
0	9	e	CON	e	Vittoria	O
0	10	quello	PRO:demo	quello	Vittoria	O
0	11	1988-1989	NUM	@card@	Vittoria	O
0	12	.	SENT	.	Vittoria	O
3	0	Il	DET:def	il	Vittoria	O
3	1	12	NUM	@card@	Vittoria	O
3	2	giugno	NOM	giugno	Vittoria	O
3	3	2011	NUM	@card@	Vittoria	O
3	4	,	PON	,	Vittoria	O
3	5	battendo	VER:geru	battere	Vittoria	O
3	6	in	PRE	in	Vittoria	O
3	7	finale	ADJ	finale	Vittoria	O
3	8	il	DET:def	il	Vittoria	B-Competizione_Vittoria
3	9	Varese	NPR	Varese	Vittoria	I-Avversario_Vittoria
3	10	,	PON	,	Vittoria	O
3	11	vince	VER:pres	vincere	Vittoria	B-LU
3	12	il	DET:def	il	Vittoria	B-Competizione_Vittoria
3	13	Campionato	NOM	campionato	Vittoria	I-Competizione_Vittoria
3	14	Primavera	NOM	primavera	Vittoria	I-Competizione_Vittoria
3	15	2010-2011	NUM	@card@	Vittoria	I-Competizione_Vittoria
3	16	.	SENT	.	Vittoria	O
2	0	Nel	PRE:det	nel	Vittoria	O
2	1	dicembre	NOM	dicembre	Vittoria	O
2	2	2011	NUM	@card@	Vittoria	O
2	3	vince	VER:pres	vincere	Vittoria	B-LU
2	4	il	DET:def	il	Vittoria	B-Competizione_Vittoria
2	5	CAF	NOM	<unknown>	Vittoria	I-Competizione_Vittoria
2	6	Award	NOM	<unknown>	Vittoria	I-Competizione_Vittoria
2	7	annuale	ADJ	annuale	Vittoria	I-Competizione_Vittoria
2	8	per	PRE	per	Vittoria	O
2	9	la	DET:def	il	Vittoria	O
2	10	categoria	NOM	categoria	Vittoria	O
2	11	arbitrale	ADJ	arbitrale	Vittoria	O
2	12	.	SENT	.	Vittoria	O
5	0	Con	PRE	con	Vittoria	O
5	1	i	DET:def	il	Vittoria	O
5	2	"	PON	"	Vittoria	O
5	3	blaugrana	NOM	<unknown>	Vittoria	O
5	4	"	PON	"	Vittoria	O
5	5	vinse	VER:remo	vincere	Vittoria	B-LU
5	6	una	DET:indef	una	Vittoria	B-Competizione_Vittoria
5	7	Coppa	NOM	coppa	Vittoria	I-Competizione_Vittoria
5	8	del	PRE:det	del	Vittoria	O
5	9	Re	NOM	re	Vittoria	O
5	10	,	PON	,	Vittoria	O
5	11	concludendo	VER:geru	concludere	Vittoria	O
5	12	la	DET:def	il	Vittoria	O
5	13	carriera	NOM	carriera	Vittoria	O
5	14	al	PRE:det	al	Vittoria	O
5	15	Malaga	NOM	malaga	Vittoria	O
5	16	.	SENT	.	Vittoria	O
7	0	Ha	VER:pres	avere	Vittoria	O
7	1	vinto	VER:pper	vincere	Vittoria	B-LU
7	2	la	DET:def	il	Vittoria	B-Competizione_Vittoria
7	3	Copa	NOM	<unknown>	Vittoria	I-Competizione_Vittoria
7	4	América	NOM	<unknown>	Vittoria	I-Competizione_Vittoria
7	5	2007	NUM	@card@	Vittoria	I-Competizione_Vittoria
7	6	con	PRE	con	Vittoria	O
7	7	la	DET:def	il	Vittoria	B-Competizione_Vittoria
7	8	sua	PRO:poss	suo	Vittoria	O
7	9	Nazionale	NOM	nazionale	Vittoria	O
7	10	.	SENT	.	Vittoria	O
9	0	Ha	VER:pres	avere	Vittoria	O
9	1	vinto	VER:pper	vincere	Vittoria	B-LU
9	2	la	DET:def	il	Vittoria	B-Competizione_Vittoria
9	3	Bola	NOM	<unknown>	Vittoria	I-Competizione_Vittoria
9	4	de	NPR	de	Vittoria	I-Competizione_Vittoria
9	5	Prata	VER:pper	<unknown>	Vittoria	I-Competizione_Vittoria
9	6	nel	PRE:det	nel	Vittoria	O
9	7	1982	NUM	@card@	Vittoria	O
9	8	.	SENT	.	Vittoria	O
8	0	Bandiera	NOM	bandiera	Vittoria	O
8	1	del	PRE:det	del	Vittoria	O
8	2	Linfield	NOM	<unknown>	Vittoria	O
8	3	,	PON	,	Vittoria	O
8	4	nel	PRE:det	nel	Vittoria	O
8	5	corso	NOM	corso	Vittoria	O
8	6	della	PRE:det	del	Vittoria	O
8	7	sua	PRO:poss	suo	Vittoria	O
8	8	ventennale	ADJ	ventennale	Vittoria	O
8	9	carriera	NOM	carriera	Vittoria	O
8	10	ha	VER:pres	avere	Vittoria	O
8	11	vinto	VER:pper	vincere	Vittoria	B-LU
8	12	39	NUM	@card@	Vittoria	O
8	13	titoli	NOM	titolo	Vittoria	O
8	14	.	SENT	.	Vittoria	O
38	0	Non	ADV	non	Attivita	O
38	1	giocò	VER:remo	giocare	Attivita	B-LU
38	2	mai	ADV	mai	Attivita	O
38	3	in	PRE	in	Attivita	O
38	4	Nazionale	NOM	nazionale	Attivita	B-Squadra_Attivita
38	5	,	PON	,	Attivita	O
38	6	anche	ADV	anche	Attivita	O
38	7	se	CON	se	Attivita	O
38	8	disputò	VER:remo	disputare	Attivita	O
38	9	tre	ADJ	tre	Attivita	O
38	10	incontri	NOM	incontro	Attivita	O
38	11	con	PRE	con	Attivita	O
38	12	la	DET:def	il	Attivita	O
38	13	rappresentativa	ADJ	rappresentativo	Attivita	O
38	14	B.	NPR	B.	Attivita	O
11	0	Il	DET:def	il	Sconfitta	O
11	1	18	NUM	@card@	Sconfitta	O
11	2	agosto	NOM	agosto	Sconfitta	O
11	3	2013	NUM	@card@	Sconfitta	O
11	4	perde	VER:pres	perdere	Sconfitta	B-LU
11	5	la	DET:def	il	Sconfitta	B-Competizione_Sconfitta
11	6	Supercoppa	NOM	<unknown>	Sconfitta	I-Competizione_Sconfitta
11	7	italiana	ADJ	italiano	Sconfitta	I-Competizione_Sconfitta
11	8	2013	NUM	@card@	Sconfitta	O
11	9	contro	PRE	contro	Sconfitta	O
11	10	la	DET:def	il	Sconfitta	B-Competizione_Sconfitta
11	11	Juventus	NOM	<unknown>	Sconfitta	I-Avversario_Sconfitta
11	12	per	PRE	per	Sconfitta	O
11	13	4-0	NUM	@card@	Sconfitta	O
11	14	.	SENT	.	Sconfitta	O
10	0	Con	PRE	con	Sconfitta	O
10	1	l'	DET:def	il	Sconfitta	O
10	2	Internazionale	NOM	<unknown>	Sconfitta	O
10	3	Torino	NPR	Torino	Sconfitta	O
10	4	disputò	VER:remo	disputare	Sconfitta	O
10	5	la	DET:def	il	Sconfitta	O
10	6	finale	NOM	finale	Sconfitta	O
10	7	di	PRE	di	Sconfitta	O
10	8	campionato	NOM	campionato	Sconfitta	B-Competizione_Sconfitta
10	9	1899	NUM	@card@	Sconfitta	I-Competizione_Sconfitta
10	10	,	PON	,	Sconfitta	O
10	11	perdendola	VER:geru	perdere	Sconfitta	B-LU
10	12	con	PRE	con	Sconfitta	O
10	13	il	DET:def	il	Sconfitta	B-Avversario_Sconfitta
10	14	Genoa	NOM	<unknown>	Sconfitta	I-Avversario_Sconfitta
10	15	.	SENT	.	Sconfitta	O
39	0	Terminata	VER:pper	terminare	Attivita	O
39	1	l'	DET:def	il	Attivita	O
39	2	esperienza	NOM	esperienza	Attivita	O
39	3	americana	ADJ	americano	Attivita	O
39	4	,	PON	,	Attivita	O
39	5	Perau	NOM	<unknown>	Attivita	O
39	6	tornò	VER:remo	tornare	Attivita	O
39	7	in	PRE	in	Attivita	O
39	8	patria	NOM	patria	Attivita	O
39	9	per	PRE	per	Attivita	O
39	10	giocare	VER:infi	giocare	Attivita	B-LU
39	11	nel	PRE:det	nel	Attivita	O
39	12	TuS	NOM	<unknown>	Attivita	B-Squadra_Attivita
39	13	Celle	NOM	cella	Attivita	I-Squadra_Attivita
39	14	.	SENT	.	Attivita	O
12	0	Con	PRE	con	Sconfitta	O
12	1	l'	DET:def	il	Sconfitta	O
12	2	Internazionale	NOM	<unknown>	Sconfitta	O
12	3	Torino	NPR	Torino	Sconfitta	O
12	4	disputò	VER:remo	disputare	Sconfitta	O
12	5	la	DET:def	il	Sconfitta	O
12	6	finale	NOM	finale	Sconfitta	O
12	7	di	PRE	di	Sconfitta	O
12	8	campionato	NOM	campionato	Sconfitta	B-Competizione_Sconfitta
12	9	1899	NUM	@card@	Sconfitta	I-Competizione_Sconfitta
12	10	,	PON	,	Sconfitta	O
12	11	perdendola	VER:geru	perdere	Sconfitta	B-LU
12	12	con	PRE	con	Sconfitta	O
12	13	il	DET:def	il	Sconfitta	B-Avversario_Sconfitta
12	14	Genoa	NOM	<unknown>	Sconfitta	I-Avversario_Sconfitta
12	15	.	SENT	.	Sconfitta	O
15	0	Il	DET:def	il	Sconfitta	O
15	1	19	NUM	@card@	Sconfitta	O
15	2	settembre	NOM	settembre	Sconfitta	O
15	3	2005	NUM	@card@	Sconfitta	O
15	4	ha	VER:pres	avere	Sconfitta	O
15	5	esordito	VER:pper	esordire	Sconfitta	O
15	6	nell'	PRE:det	nel	Sconfitta	O
15	7	Under-17	NOM	<unknown>	Sconfitta	O
15	8	contro	PRE	contro	Sconfitta	O
15	9	la	DET:def	il	Sconfitta	B-Avversario_Sconfitta
15	10	Finlandia	NPR	Finlandia	Sconfitta	I-Avversario_Sconfitta
15	11	,	PON	,	Sconfitta	O
15	12	incontro	ADV	incontro	Sconfitta	O
15	13	perso	VER:pper	perdere	Sconfitta	B-LU
15	14	3-1	NUM	@card@	Sconfitta	O
15	15	.	SENT	.	Sconfitta	O
14	0	Debutta	VER:pres	debuttare	Sconfitta	O
14	1	a	PRE	a	Sconfitta	O
14	2	Barcellona	NPR	Barcellona	Sconfitta	O
14	3	il	DET:def	il	Sconfitta	O
14	4	22	NUM	@card@	Sconfitta	O
14	5	dicembre	NOM	dicembre	Sconfitta	O
14	6	2009	NUM	@card@	Sconfitta	O
14	7	nell'	PRE:det	nel	Sconfitta	O
14	8	amichevole	ADJ	amichevole	Sconfitta	B-Competizione_Sconfitta
14	9	Catalogna-Argentina	NOM	<unknown>	Sconfitta	I-Competizione_Sconfitta
14	10	persa	ADJ	perso	Sconfitta	I-Competizione_Sconfitta
14	11	4-2	NUM	@card@	Sconfitta	O
14	12	.	SENT	.	Sconfitta	O
17	0	Gioco	NOM	gioco	Sconfitta	O
17	1	nella	PRE:det	nel	Sconfitta	O
17	2	Fiorentina	NOM	fiorentina|fiorentino	Sconfitta	O
17	3	1970	NUM	@card@	Sconfitta	O
17	4	al	PRE:det	al	Sconfitta	O
17	5	1972	NUM	@card@	Sconfitta	O
17	6	,	PON	,	Sconfitta	O
17	7	perse	VER:pper	perdere	Sconfitta	B-LU
17	8	una	DET:indef	una	Sconfitta	O
17	9	finale	NOM	finale	Sconfitta	O
17	10	di	PRE	di	Sconfitta	O
17	11	Coppa	NOM	coppa	Sconfitta	B-Competizione_Sconfitta
17	12	Mitropa	NOM	<unknown>	Sconfitta	I-Competizione_Sconfitta
17	13	.	SENT	.	Sconfitta	O
16	0	Con	PRE	con	Sconfitta	O
16	1	l'	DET:def	il	Sconfitta	O
16	2	esonero	NOM	esonero	Sconfitta	O
16	3	di	PRE	di	Sconfitta	O
16	4	Maradona	NOM	<unknown>	Sconfitta	B-Avversario_Sconfitta
16	5	,	PON	,	Sconfitta	O
16	6	perde	VER:pres	perdere	Sconfitta	B-LU
16	7	il	DET:def	il	Sconfitta	O
16	8	posto	NOM	posto	Sconfitta	O
16	9	di	PRE	di	Sconfitta	O
16	10	Assistente	NOM	assistente	Sconfitta	O
16	11	tecnico	ADJ	tecnico	Sconfitta	O
16	12	.	SENT	.	Sconfitta	O
33	0	Ha	VER:pres	avere	Attivita	O
33	1	giocato	VER:pper	giocare	Attivita	B-LU
33	2	in	PRE	in	Attivita	O
33	3	massima	ADJ	massimo	Attivita	B-Competizione_Attivita
33	4	serie	NOM	serie	Attivita	I-Competizione_Attivita
33	5	con	PRE	con	Attivita	O
33	6	la	DET:def	il	Attivita	O
33	7	maglia	NOM	maglia	Attivita	O
33	8	dello	PRE:det	del	Attivita	O
33	9	Sloboda	NOM	<unknown>	Attivita	B-Squadra_Attivita
33	10	Tuzla	ABR	<unknown>	Attivita	O
33	11	.	SENT	.	Attivita	O
31	0	Soprannominato	VER:pper	soprannominare	Attivita	O
31	1	"	PON	"	Attivita	O
31	2	HMS	NOM	<unknown>	Attivita	O
31	3	Rodney	NOM	<unknown>	Attivita	O
31	4	"	PON	"	Attivita	O
31	5	,	PON	,	Attivita	O
31	6	in	PRE	in	Attivita	O
31	7	carriera	NOM	carriera	Attivita	O
31	8	ha	VER:pres	avere	Attivita	O
31	9	giocato	VER:pper	giocare	Attivita	B-LU
31	10	in	PRE	in	Attivita	O
31	11	Inghilterra	NPR	Inghilterra	Attivita	O
31	12	,	PON	,	Attivita	O
31	13	Irlanda	NPR	Irlanda	Attivita	O
31	14	e	CON	e	Attivita	O
31	15	Stati	NOM	stato	Attivita	O
31	16	Uniti	NOM	<unknown>	Attivita	O
31	17	.	SENT	.	Attivita	O
37	0	Kjellsen	NOM	<unknown>	Attivita	O
37	1	giocò	VER:remo	giocare	Attivita	B-LU
37	2	con	PRE	con	Attivita	O
37	3	le	DET:def	il	Attivita	O
37	4	maglie	NOM	maglia	Attivita	O
37	5	di	PRE	di	Attivita	O
37	6	Larvik	NOM	<unknown>	Attivita	B-Squadra_Attivita
37	7	Turn	NOM	<unknown>	Attivita	I-Squadra_Attivita
37	8	e	CON	e	Attivita	O
37	9	Fram	NOM	<unknown>	Attivita	O
37	10	Larvik	NOM	<unknown>	Attivita	B-Squadra_Attivita
37	11	.	SENT	.	Attivita	O
36	0	Ha	VER:pres	avere	Attivita	O
36	1	giocato	VER:pper	giocare	Attivita	B-LU
36	2	13	NUM	@card@	Attivita	O
36	3	partite	NOM	partita	Attivita	O
36	4	per	PRE	per	Attivita	O
36	5	la	DET:def	il	Attivita	B-Squadra_Attivita
36	6	Nazionale	NOM	nazionale	Attivita	I-Squadra_Attivita
36	7	uruguaiana	ADJ	<unknown>	Attivita	I-Squadra_Attivita
36	8	tra	PRE	tra	Attivita	O
36	9	il	DET:def	il	Attivita	O
36	10	1975	NUM	@card@	Attivita	O
36	11	e	CON	e	Attivita	O
36	12	il	DET:def	il	Attivita	O
36	13	1983	NUM	@card@	Attivita	O
36	14	.	SENT	.	Attivita	O
35	0	Dal	PRE:det	dal	Attivita	O
35	1	2011	NUM	@card@	Attivita	O
35	2	gioca	VER:pres	giocare	Attivita	B-LU
35	3	nella	PRE:det	nel	Attivita	O
35	4	massima	ADJ	massimo	Attivita	B-Competizione_Attivita
35	5	serie	NOM	serie	Attivita	I-Competizione_Attivita
35	6	giapponese	ADJ	giapponese	Attivita	I-Competizione_Attivita
35	7	con	PRE	con	Attivita	O
35	8	il	DET:def	il	Attivita	B-Squadra_Attivita
35	9	Kashima	NOM	<unknown>	Attivita	I-Squadra_Attivita
35	10	Antlers	NOM	<unknown>	Attivita	I-Squadra_Attivita
35	11	.	SENT	.	Attivita	O
34	0	"	PON	"	Attivita	O
34	1	Roberto	NPR	Roberto	Attivita	O
34	2	Donadoni	NOM	<unknown>	Attivita	O
34	3	lascia	VER:pres	lasciare	Attivita	O
34	4	il	DET:def	il	Attivita	B-Competizione_Attivita
34	5	calcio	NOM	calcio	Attivita	I-Competizione_Attivita
34	6	giocato	VER:pper	giocare	Attivita	I-Competizione_Attivita
34	7	nel	PRE:det	nel	Attivita	O
34	8	luglio	NOM	luglio	Attivita	O
34	9	del	PRE:det	del	Attivita	O
34	10	2000	NUM	@card@	Attivita	O
34	11	"	PON	"	Attivita	O
19	0	Nel	PRE:det	nel	Sconfitta	O
19	1	1978	NUM	@card@	Sconfitta	O
19	2	giocò	VER:remo	giocare	Sconfitta	O
19	3	la	DET:def	il	Sconfitta	B-Competizione_Sconfitta
19	4	finale	NOM	finale	Sconfitta	I-Competizione_Sconfitta
19	5	della	PRE:det	del	Sconfitta	O
19	6	Coppa	NOM	coppa	Sconfitta	O
19	7	delle	PRE:det	del	Sconfitta	O
19	8	Coppe	NOM	coppa	Sconfitta	O
19	9	perdendo	VER:geru	perdere	Sconfitta	B-LU
19	10	per	PRE	per	Sconfitta	O
19	11	4-0	NUM	@card@	Sconfitta	O
19	12	contro	PRE	contro	Sconfitta	O
19	13	l'	DET:def	il	Sconfitta	B-Avversario_Sconfitta
19	14	Anderlecht	NOM	<unknown>	Sconfitta	I-Avversario_Sconfitta
19	15	.	SENT	.	Sconfitta	O
